.snakemake
.ipynb_checkpoints
.bash_profile
.DS_Store

Snakemake/logs/
Snakemake/input/
Snakemake/delete/
Snakemake/ftp.1000genomes.ebi.ac.uk/
Snakemake/hgdownload.cse.ucsc.edu/
Snakemake/hgdownload.soe.ucsc.edu/
Snakemake/output/
Snakemake/bin/
Snakememake/.snakemake/
Snakemake/.ipynb_checkpoints
.bash_profile


