.snakemake
.ipynb_checkpoints
.bash_profile
.DS_Store

Snakemake/logs/
Snakemake/input/
Snakemake/delete/
Snakemake/output/
Snakememake/.snakemake/
Snakemake/.ipynb_checkpoints
.bash_profile
Snakemake/Untitled Folder/
Snakemake/models/
Snakemake/notebooks
Snakemake/validation
Snakemake/figures
CADD_feature_comparison/
SingleFeatureImpact/


!Snakemake/config/
Snakemake/config/**
!Snakemake/config/SNVs.hg38.predict.json
!Snakemake/config/SNVs.hg38.cv.json
!Snakemake/config/featuresConfig38.json