logs
input
delete
output
.snakemake
.ipynb_checkpoints
.bash_profile
.DS_Store
untitled.txt
bin
parSMURF
Untitled Folder
validation
notebooks
figures
models
!config/
config/**
!config/SNVs.hg38.predict.json
!config/SNVs.hg38.cv.json
!config/featuresConfig38.json

